.logo-lg:before{ content: '\F0D6'; font-family: FontAwesome; }

.table-actions { width:150px; }
.content-row { padding-left: 17px; padding-right: 17px; }

td .btn { margin-left: 5px; }

.small-box .icon{ top:7 !important; }
